body{
    width: auto;
    height: auto;
    background-color: #12161B;
    color: white;
    font-family: sans-serif;
    margin: 0px;


}
#header{
    height: 220px;
    width: 100%;
    background-color: black;
}
#contingut{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#LOGO{
    text-align: center;
}
#Titol{
    text-align: center;
}
#ArticleNoticia{
    text-align: center;
    text-align: justify-all;
}
#Imatge{
    text-align: center;

}