body{
    width: auto;
    height: auto;
    background-color:#1c242e;
    color: white;
    font-family: sans-serif;
    margin: 0px;
}
#header{
    height: 200px;
    width: 100%;
    background-color: black;
}

 #MES{
     text-align: center;
 }


#contingut{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
            "lol csgo";
    grid-column-gap: 20px;
    justify-content: center;
}

.box{
}


#LOL{
    grid-area: lol;
    height: 500px;
    padding-top: 50px;
}


#CSGO{
    grid-area: csgo;
    height: 500px;
    padding-top: 50px;
    margin-bottom: 80px;
}


#footer{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-areas:
            "gmail twitter instagram";
    height: 100px;
    width: 100%;
    background-color: black;
    justify-content: center;
    text-align: center;
}
#gmail{
    grid-area: gmail;
    text-align: center;
    margin-top: 30px;
}
#twitter{
    grid-area: twitter;
    text-align: center;
    margin-top: 30px;
}
#facebook{
    grid-area: facebook;
    text-align: center;
    margin-top: 30px;
}
#instagram{
    grid-area: instagram;
    text-align: center;
    margin-top: 30px;
}

.lletraLink{
    text-align: center;
    margin-left: 10px;
    color: white;
}
.centarFooter{
    align-items: center;
    justify-content: center;
    display: flex;
}


@media (max-width: 1000px) {
    #header{
        width: 100%;
    }
    #contingut{
        display: grid;
        grid-template-areas:
            "lol"
            "csgo";
        grid-template-columns: 100%;
    }
    #footer{
        width: 100%;
    }
    .lletraLink{
        display: none;
    }
}





