body{
    width: auto;
    height: auto;
    background-color:#1c242e;
    color: white;
    font-family: sans-serif;
    margin: 0px;

}
#header{
    height: 200px;
    width: 100%;
    background-color: black;
}

#MES{
    text-align: center;
}
#noticies{
    margin-left: 10px;
    width: 100%;
}

#proximPartit{
    margin-left: 10px;
}
#caixaCountDown{
    text-align: center;
    display: grid;
    grid-template-columns: 158px 400px 158px;
    grid-template-areas: "logo1 countdown logo2";
    margin-top: 20px;
    justify-content: center;
}

#logo1{
    grid-area: logo1;
}
#logo2{
    grid-area: logo2;
}

#countdown{
    grid-area: countdown;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    width: 400px;


}
#classificacio{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.taula{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
#infoTaula{
     background-color: #12161B;
 }



.impar{
    background-color: #2d3642;
}


#equips{
    margin-left: 10px;
    margin-top: 40px;
}
#footer{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-areas:
            "gmail twitter instagram";
    height: 100px;
    width: 100%;
    background-color: black;
    justify-content: center;
    text-align: center;
}
#gmail{
    grid-area: gmail;
    text-align: center;
    margin-top: 30px;
}
#twitter{
    grid-area: twitter;
    text-align: center;
    margin-top: 30px;
}
#facebook{
    grid-area: facebook;
    text-align: center;
    margin-top: 30px;
}
#instagram{
    grid-area: instagram;
    text-align: center;
    margin-top: 30px;
}

.lletraLink{
    text-align: center;
    margin-left: 10px;
    color: white;
}
.centarFooter{
    align-items: center;
    justify-content: center;
    display: flex;
}
#Foto1{
    height: 120px;
    margin-left: 50px;
}
#Article1{
    height: 110px;
    width: 250px;
    text-align: center;
    margin-left: 50px;

}
#Foto2{
    height: 120px;
    margin-left: 425px;
    margin-top: -252px;
}
#Article2{
    height: 110px;
    width: 250px;
    text-align: center;
    margin-left: 425px;

}
#Foto3{
    height: 120px;
    margin-left: 800px;
    margin-top: -252px;
}
#Article3{
    height: 110px;
    width: 250px;
    text-align: center;
    margin-left: 800px;
}
#Foto4{
    height: 120px;
    margin-left: 1175px;
    margin-top: -252px;
}
#Article4{
    height: 110px;
    width: 250px;
    text-align: center;
    margin-left: 1175px;
}
#Foto5{
    height: 120px;
    margin-left: 1550px;
    margin-top: -252px;
}
#Article5 {
    height: 110px;
    width: 250px;
    text-align: center;
    margin-left: 1550px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    height: 400px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 800px) {
    #header {
        width: 100%;
    }

    #caixaCountDown {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "logo1" "countdown" "logo2";
        justify-content: center;
        text-align: center;
    }

    #logo1 {
        grid-area: logo1;
        text-align: center;

    }

    #logo2 {
        grid-area: logo2;
        text-align: center;

    }

    #countdown {
        grid-area: countdown;
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
    }

    .fotoEquip {
        margin-left: 0px;
    }

    #footer {
        width: 100%;
    }

    .lletraLink {
        display: none;
    }
}
@media (max-width: 500px) {
    #countdown{
        font-size: 40px;
    }
    .equip{
        display: none;
    }
    .slideshow-container{
        margin-left: 0px;

    }
    #equips{
        margin-left: 0px;
    }
    .dot{
        margin-left: 0px;
    }
}

@media (max-width: 1000px) {
    #Foto1{
        margin-top: 0px;
        margin-left: 120px;
    }
    #Article1{
        margin-top: 0px;
        margin-left: 120px;
    }
    #Foto2{
        margin-top: -250px;
        margin-left: 575px;
    }
    #Article2{
        margin-top: 0px;
        margin-left: 575px;
    }
    #Foto3{
        margin-top: -50px;
        margin-left: 120px;
    }
    #Article3{
        margin-top: 0px;
        margin-left: 120px;
    }
    #Foto4{
        margin-top: -250px;
        margin-left: 575px;
    }
    #Article4{
        margin-top: 0px;
        margin-left: 575px;
    }
    #Foto5{
        margin-top: -50px;
        margin-left: 350px;
    }
    #Article5{
        margin-top: 0px;
        margin-left: 350px;
    }
}
@media (max-width: 600px) {
    #Foto1{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Article1{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Foto2{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Article2{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Foto3{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Article3{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Foto4{
        margin-top: -0px;
        margin-left: 150px;
    }
    #Article4{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Foto5{
        margin-top: 0px;
        margin-left: 150px;
    }
    #Article5{
        margin-top: 0px;
        margin-left: 150px;
    }

}


