body{
    width: auto;
    height: auto;
    background-color:#1c242e;
    color: white;
    font-family: sans-serif;
    margin: 0px;
}
#header{
    height: 200px;
    width: 100%;
    background-color: black;
}
#Equip{
    text-align: center;
}
#footer{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-areas:
            "gmail twitter instagram";
    height: 100px;
    width: 100%;
    background-color: black;
    justify-content: center;
    text-align: center;
}
#gmail{
    grid-area: gmail;
    text-align: center;
    margin-top: 30px;
}
#twitter{
    grid-area: twitter;
    text-align: center;
    margin-top: 30px;
}
#facebook{
    grid-area: facebook;
    text-align: center;
    margin-top: 30px;
}
#instagram{
    grid-area: instagram;
    text-align: center;
    margin-top: 30px;
}

.lletraLink{
    text-align: center;
    margin-left: 10px;
    color: white;
}
.centarFooter{
    align-items: center;
    justify-content: center;
    display: flex;
}
#contingut{
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
            "jugador1 jugador2 jugador3"
            "jugador4 jugador5 jugador6"
            "coach coach coach";
    grid-column-gap: 20px;
    justify-content: center;
}
#jugador1{
    grid-area: jugador1;
}
#jugador2{
    grid-area: jugador2;
}
#jugador3{
    grid-area: jugador3;
}
#jugador4{
    grid-area: jugador4;
}
#jugador5{
    grid-area: jugador5;
}
#jugador6{
    grid-area: jugador6;
}
#coach{
    grid-area: coach;
}
.nomJugador{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 800px) {
    #header{
        width: 100%;
    }
    #contingut{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            "jugador1"
            "jugador2"
            "jugador3"
            "jugador4"
            "jugador5"
            "jugador6"
            "coach";
        justify-content: center;
        text-align: center;
    }
    #footer{
        width: 100%;
    }
    .lletraLink{
        display: none;
    }
}
